.Recipe {
  display: flex;
  margin: 60px 0;
  gap: 80px;
  h3 {
    margin-bottom: 2rem;
    font-family: var(--ff-poppins);
  }
  li {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  ul {
    margin-top: 2rem;
  }

  img {
    width: 350px;
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: center;
  }

  .buttons {
    button {
      padding: 1rem 2rem;
      color: #313131;
      background: transparent;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
      border: 2px solid black;
      margin-right: 2rem;
      font-weight: 600;
      font-family: var(--ff-poppins);
    }
    .active {
      background: linear-gradient(35deg, #494949, #313131);
      color: white;
    }

    p {
      width: 400px;
      text-align: justify;
      font-family: var(--ff-poppins);
      margin-top: 20px;
      font-size: 15px;
    }
  }
}

@media (max-width: 1050px) {
  img {
    width: 320px;
  }
  .buttons {
    p {
      width: 320px !important;
    }
  }
}

@media (max-width: 950px) {
  .Recipe {
    flex-direction: column;
    align-items: center;
    .buttons {
      p {
        width: 350px !important;
      }
    }
  }
}
