.Header {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: -100% 50%;
    border-radius: 50%;
    transform: scale(0.7);
  }
  h1 {
    font-family: var(--ff-lobster);
    font-style: italic;
    font-weight: 400;
    margin-block: 50px;
  }
}
